In [3]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib
import matplotlib.pyplot as plt

In [13]:
data_path="data/train.csv"
data=pd.read_csv(data_path, encoding = "euckr")

# mnist = input_data.read_data_sets("./data/mnist", one_hot=True)

In [24]:
data.head()

   id year_month                                               text  smishing
0   0    2017-01                           XXX은행성산XXX팀장입니다.행복한주말되세요         0
1   1    2017-01              오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림         0
2   2    2017-01  안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니...         0
3   4    2017-01  XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 ...         0
4   5    2017-01           1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다         0

Smishing 값이 0일 때 정상적인 문자이고, 1일때 스미싱 문자이다.

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295945 entries, 0 to 295944
Data columns (total 4 columns):
id            295945 non-null int64
year_month    295945 non-null object
text          295945 non-null object
smishing      295945 non-null int64
dtypes: int64(2), object(2)
memory usage: 9.0+ MB